body {
    background-image: url('../images/background2.png');
    background-size: cover;
    height: 100%;
}
.head {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
.head1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 15px;
}
.over {
    width: 250px;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
.over1 {
    width: 550px;
    white-space:nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
}
ul { 
    list-style-type: none; 
}
li {
    margin-top: -20px;
    line-height: 1em;
}
input[type="text"] {
    font-family:courier;
    height: 30px;
    width: 450px;
    border-radius: 15px;
    font-size: 18px;
    text-align:center;
}
input[type="text"]::placeholder {
    font-weight: lighter;
    text-align: center;
}
.about {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    margin: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    right: -2px;
    top: 15px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.about:hover {
    color: green;
    background-color: white;
}
.copy {
    padding-top: 320px;
    text-align: center;
}
.icon {
    background-color: #fff;
    padding: 7px 18px;
    position: absolute;
    cursor: pointer;
    right: 455px;
    top: 155px;
    border-radius: 15px;
    font-size: 15px;
    color: #000;
}
.icon:hover {
    color: blue;
    background-color: #F0E68C;
}
.y_image {
    margin-top: -26px;
    margin-left: 50px;
    width: 400px;
    height: 300px;
    position: relative;
    border: 2px solid #FEDE00;
}
.y_image1 {
    margin-top: -25px;
    width: 250px;
    height: 200px;
    position: relative;
    border: 2px solid #FEDE00;
}
.img {
    width: 450px;
    float: left;
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
}
.main {
    float: left;
    text-align: left;
    width: 750px;
}
.recom {
    width: 330px;
    float: left;
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
}