<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="about_page">
        <h1><u>ABOUT:</u></h1>
        <p>This is prepared by Sumantha.NTS</p>
    </div>
    <div class="container">
        <h3><u>About me:</u></h3>
        <p>I am a data science enthusiast having 1 year experience in visualizing the data, extracting insights from data, building the model,
            optimizing the model and deployment in cloud environment.
        </p>
        <h3><u>Follow my work through link given below</u></h3>
        <div class="container">
            <div class="row">
                <div class="link1">
                    <h5><u><i>Linkedin :</i></u></h5>
                    <h5><u><i>Git-Hub :</i></u></h5>
                    <h5><u><i>Medium :</i></u></h5>
                    <h5><u><i>Portfolio :</i></u></h5>
                </div>
                <div class="link2">
                    <h5><a href="http://www.linkedin.com/in/sumantha-nts"><u>http://www.linkedin.com/in/sumantha-nts</u></a></h5>
                    <h5><a href="https://github.com/sumantha-NTS"><u>https://github.com/sumantha-NTS</u></a></h5>
                    <h5><a href="https://sumanthneechadi.medium.com/"><u>https://sumanthneechadi.medium.com/</u></a></h5>
                    <h5><a href="https://vigilant-bell-05a3eb.netlify.app"><u>https://vigilant-bell-05a3eb.netlify.app</u></a></h5>
                </div>
            </div>
        </div>
        <h3><u>Contact me:</u></h3>
        <div class="container">
            <div class="row">
                <div class="link1">
                    <h5><u><i>Email :</i></u></h5>
                    <h5><u><i>Phone Number:</i></u></h5>
                </div>
                <div class="link2">
                    <h5><a><u>sumanthneechadi@gmail.com</u></a></h5>
                    <h5>+91 9035697661</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>